# Loops

In [3]:
k=0
while(k<=3):
    print(k)
    k=k+1

0
1
2
3

In [ ]:
end perameter for new line or output get with space

In [8]:
p=1
while(p<=10):
    print(p,end=" ")
    p=p+1

1 2 3 4 5 6 7 8 9 10

In [12]:
i=0
while(i<=100):
    print(i,end=" ")
    i=i+6

0 6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

In [14]:
i=0
while(i<=100):
    print(i)
    print("inside loop")
    i=i+6
print("End of the loop")

0
inside loop
6
inside loop
12
inside loop
18
inside loop
24
inside loop
30
inside loop
36
inside loop
42
inside loop
48
inside loop
54
inside loop
60
inside loop
66
inside loop
72
inside loop
78
inside loop
84
inside loop
90
inside loop
96
inside loop
End of the loop

In [3]:
i=0
while(i<=10):
    print('3','*',i,'=',3*i)
    i=i+1

3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [5]:
i=0
j=int(input("enter value for table generation"))
while(i<=10):
    print(j,"*",i,"=",j*i)
    i=i+1

enter value for table generation3
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [8]:
i=0
total=0
while(i<=10):
    total=total+i
    print(total)
    i=i+1
    
print("grand total =",total)

0
1
3
6
10
15
21
28
36
45
55
grand total = 55

# For Loop

In [9]:
for index in [10,20,30,]:
    print(index)

10
20
30

In [10]:
for index in [11,22,33,44,55,66,77,88]:
    print(index)

11
22
33
44
55
66
77
88

In [1]:
dict1={1:"sum",2:"Moon",3:"Planets"}

In [2]:
dict1

{1: 'sum', 2: 'Moon', 3: 'Planets'}

In [3]:
for i in dict1:
    print(i)

1
2
3

In [4]:
for i in dict1:
    print(dict1[i])

sum
Moon
Planets

# range

In [5]:
range(14)

range(0, 14)

In [6]:
list(range(14))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [7]:
list(range(1,14))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [8]:
list(range(2,22,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

append method used with for loop for creating list

In [1]:
citylist=[]
for p in range(3):
    city=input("enter any city name")
    citylist.append(city)
    print(citylist)
print("complete city list =",citylist)

enter any city nameNew York
['New York']
enter any city namedehli
['New York', 'dehli']
enter any city namebanaras
['New York', 'dehli', 'banaras']
complete city list = ['New York', 'dehli', 'banaras']

# if and else statement

In [3]:
marks=90
if marks<50:
    print("good")
else:
    print("need more work hard")

need more work hard

In [4]:
num=15
if num%2==0:
    print("even number")
else:
    print("odd Number")

odd Number