# statistics

In [10]:
import numpy as np
import pandas as pd

In [11]:
a=np.array([23,45,67,89,278,98,92,21])
a

array([ 23,  45,  67,  89, 278,  98,  92,  21])

In [12]:
#we can find out mean here
# mean function store inside the numpy
np.mean(a)

89.125

In [13]:
np.median(a)

78.0

In [14]:
#mode function not present directlyinside the numpy
np.mod(a)

TypeError: remainder() takes from 2 to 3 positional arguments but 1 were given

In [15]:
np.max(a)

278

In [16]:
np.min(a)

21

In [17]:
#we can write alsolike this
ra=np.max(a)-np.min(a)
ra

257

In [18]:
# for find out variance we have np. var function
var=np.var(a)
var

5901.359375

In [19]:
# we can findout standard deviation
b=np.std(a)
b

76.82030574659281

In [20]:
# we can find here percentile also
np.percentile(a,60)
# it mean 60th percent of the data below 89

89.6

In [21]:
np.percentile(a,40)

62.60000000000001

In [22]:
np.percentile(a,75)

93.5

# we have pandas for statistics

In [23]:
# Similar way we have pandas also
import pandas as pd

In [24]:
df=pd.read_csv('Student_marks.csv')
df

,Name,Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
0,John,M,05-04-1988,55,45,56,87,21,52,89,65
1,Suresh,M,04-05-1987,75,96,78,64,90,61,58,2
2,Ramesh,M,25-05-1989,25,54,89,76,95,87,56,74
3,Jessica,F,12-08-1990,78,96,86,63,54,89,75,45
4,Jennifer,F,02-09-1989,58,96,78,46,96,77,83,53
5,Annu,F,05-04-1988,45,87,52,89,55,89,87,52
6,pooja,F,04-05-1987,55,64,61,58,75,58,64,61
7,Ritesh,M,25-05-1989,54,76,87,56,25,56,76,87
8,Farha,F,12-08-1990,55,63,89,75,78,75,63,89
9,Mukesh,M,02-09-1989,96,46,77,83,58,83,46,77

In [25]:
df['Maths'].mean()

59.6

In [26]:
df['Chemistry'].mean()

75.3

In [27]:
df['Physics'].mean()

72.3

In [28]:
df['English'].mean()

69.7

In [29]:
df['Biology'].mean()

64.7

In [30]:
df['Economics'].mean()

72.7

In [31]:
df['History'].mean()

69.7

In [32]:
df['Economics'].median()

76.0

In [33]:
df['Economics'].mode()

0    89
Name: Economics, dtype: int64

In [34]:
df['Chemistry'].mode()

0    78
1    89
Name: Chemistry, dtype: int64

In [35]:
df['Maths'].max()

96

In [36]:
df['Maths'].min()

25

In [37]:
rangeofmath=df['Maths'].max()-df['Maths'].min()
rangeofmath

71

In [38]:
#variance
mathv=df['Maths'].var()
mathv

378.71111111111105

In [39]:
e=df['Maths'].std()
e

19.46050130677807

In [56]:
#inside pandas here findout for percerntile we have quartile quartile method
q1=df['Maths'].quantile(0.25)
q1

54.25

In [58]:
q2=df['Maths'].quantile(0.75)
q2

70.75

In [59]:
df['Maths'].var()

378.71111111111105

In [60]:
df['Maths'].std()

19.46050130677807

# scientific python

In [40]:
import scipy as sc
import warnings
warnings.filterwarnings('ignore')

In [41]:
a=np.array([23,45,67,89,278,98,92,21])
a

array([ 23,  45,  67,  89, 278,  98,  92,  21])

In [42]:
sc.mean(a)

89.125

In [43]:
sc.median(a)

78.0

In [44]:
#variance and standard deviation wecan also find out in scipy
sc.var(a)

5901.359375

In [45]:
c=sc.std(a)
c

76.82030574659281

In [46]:
# we can reduce decimal value by rount func()
round(c,2)

76.82

In [47]:
round(5901.359375,3)

5901.359

In [48]:
import scipy.stats as st

In [49]:
b=([4,5,6,44,5,5,7,8,5,6,5,5,4,4,4,3])
b

[4, 5, 6, 44, 5, 5, 7, 8, 5, 6, 5, 5, 4, 4, 4, 3]

In [50]:
st.mode(b)

ModeResult(mode=5, count=6)

In [51]:
#we can findout statistical summary
df.describe()

,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.0000
mean,59.600000,72.300000,75.300000,69.700000,64.700000,72.700000,69.700000,60.5000
std,19.460501,20.661559,14.000397,14.453373,26.998148,14.629119,14.453373,25.3432
min,25.000000,45.000000,52.000000,46.000000,21.000000,52.000000,46.000000,2.0000
25%,54.250000,56.250000,65.000000,59.250000,54.250000,58.750000,59.250000,52.2500
50%,55.000000,70.000000,78.000000,69.500000,66.500000,76.000000,69.500000,63.0000
75%,70.750000,93.750000,86.750000,81.250000,87.000000,86.000000,81.250000,76.2500
max,96.000000,96.000000,89.000000,89.000000,96.000000,89.000000,89.000000,89.0000

In [52]:
#inside the scipy we have percentile also
import scipy as sc
from scipy import stats
from scipy.stats import percentileofscore

In [53]:
percentileofscore(df['Maths'],25)

10.0

In [54]:
percentileofscore(df['Maths'],60)

70.0

In [55]:
percentileofscore(df['English'],75)

60.0

Probability random variable